/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    }

nav{
    /* shorthand for padding */
    /* spacebetween ul tag and nav element */
    padding: 0.8rem;
    /* padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem; */


    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    /* list-style-type: none; */
    /*margin vs padding*/
	/*margin is best used when creating space between elements.*/
	/*padding is best used when creating space between an element's border and it's content.*/
}

nav .nav, nav .nav-logo{
    margin: 0.5rem;
    display: inline;
}
#intro, #succeed-info{
    /* padding-left: 10% ;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem; */
    padding: 2rem 10% 3rem;
    text-align: center;
}

.header{
    text-align: center;
}

/* space between contents of the intro section */
#intro h2, #intro p {
    margin-bottom: 1rem ;
}

#intro button{
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 25px;
}

#succeed-info h2, #succeed-info h3{
    margin-bottom: 1rem;
} 

#succeed-info .card{
    /*measurement is based on equally dividing the parent container's width*/
    /*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
    /*creates horizontal spacing between cards*/
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer{
    padding: 0.7rem;
}

footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer{
    padding: 1rem;
    background-color: #002540;
    color: white;
}

#pre-footer div {
    display: inline-block;
    vertical-align:bottom;
    width: 20%;
}

#pre-footer div h3, #pre-footer div p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}