/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;    
}

.main-container{
    position: relative;

}
.navbar{
        width: 85vw;
        margin: 0 auto;
}

nav{
    margin-bottom: 1rem;
    top: 0;
    position: sticky;
    background-color: white;
}

.right-nav{
    float: right;
}

.nav, .nav-logo{
    margin: 0.5rem;
    display: inline-block;
}

.tuitt-button{
    background-color: #c2195b;
    color: white;
    padding: .7rem;
    border-radius: 25px;
}
#bg-image{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}
    
.apply-button{
    background-color: #c2195b;
    color: white;
    padding: 1rem;
    border-radius: 25px;
}

.front-bg{
    background-color: rgba(0,0,0, 0.5); /* last value used for opacity*/
    min-height: 100vh;
    color: white;
}

.container{
    width: 40%;
    float: right;
}
.container h1{
    margin: 2rem 0;
    font-size: 3rem;
}

.container{
    padding-right: 2rem;
}

.container h2{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.title, .title-2{
    font-family: "Zilla Slab";
}

.title-2{
    margin-bottom: 4rem;
    text-align: center;
}

.pre-footer{
   background-color: #f7fbfb; 
}

.book-button{
    background-color: #336589;  
    color: white;
    padding: .7rem;
    border-radius: 25px;  
    left: 100px;
    margin: 0 auto;
    display: block;
}

.intro{
    width: 85vw;
    margin: 10rem auto;
}
.pre-footer{
    width: 85vw;
    margin: 10rem auto;
}

.pre-footer p{
    margin-bottom:2rem;
}

footer{
    text-align: center;
}
